:root {
  --white: #fff;
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --checkbox-bg-checked: #404bbf;
  --checkbox-icon-fill: #f4f4fd;
}

/* .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Інтерактивні елементи */
.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Типографія */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--navyblue);
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

/*============= КНОПКА ==============*/
/* .button {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
} */

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*============= ЛОГОТИП ============== */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* margin: 16px; */
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo:hover,
.logo:focus {
  color: #4d5ae5;
}

.logo-studio-header {
  color: #2e2f42;
  font-size: 18px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*============= ХЕДЕР ============== */
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*=============== НАВІГАЦІЯ =============== */
.nav-link,
.nav-link-active {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px; /* ????? */
  letter-spacing: 0.02em;
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link-active:hover,
.nav-link-active:focus {
  color: #404bbf;
}

/* ============= ГОЛОВНА НАВІГАЦІЯ STUDIO ============== */
.nav-link-active {
  color: #404bbf;
  position: relative;
  padding: 24px 0;
}

.nav-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Підкреслення буде прямо під текстом */
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar {
  display: flex; /* Сховати на мобільних */
  align-items: center;
}

.nav-list {
  display: none; /* Сховати на мобільних */
  /* justify-content: flex-start;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em; */
}

/*================ АДРЕС ================ */
.address {
  display: none; /* Сховати на мобільних */
  /* font-style: normal;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px; */
}

.address-list {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*============== КОНТАКТИ ================ */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* ============== ПЕРША СЕКЦІЯ ============== */
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-mob.jpg");
  padding: 72px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
}

@media screen and (min-resolution: 2x) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/Dark-bg-mob-2x.jpg");
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  max-width: 216px;
}

.hero-title .line {
  display: block; /* кожен рядок окремо */
}

/*============= ДРУГА СЕКЦІЯ ФУНКЦІЇ ============*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.features-section {
  padding: 96px 0;
}

.features-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* .features-list li {
  flex-basis: calc((100% - 3 * 24px) / 4);
} */

.features-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

/*============= ІКОНКА SVG ФУНКЦІЇ ============*/

.features-icon-box {
  display: none;
}

/*============ ТРЕТЯ СЕКЦІЯ КОМАНДИ ============*/
.team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-card-first-card {
  /* width: calc((100% - 72px) / 4); */
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list li {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.name-team {
  padding: 32px 0;
}
.feature-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.feature-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/*============= СОЦІАЛЬНІ МЕРЕЖІ КОМАНДИ ============*/
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials li {
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: none;
}

.team-socials-icon {
  fill: var(--cloud);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

/*============= КАРТКА КОМАНДИ ============*/
.team-card {
  background-color: #fff;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

/*============= ВІЗУАЛЬНО ПРИХОВАНИЙ ТЕКСТ ============*/
/* Використовується для елементів, які повинні бути доступні для скрінрідерів, але не відображаються на екрані */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============= ПОРТФОЛІО СЕКЦІЯ ============*/

.portfolio-section {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  padding: 96px 0;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 8px;
}

.portfolio-title-first {
  margin-bottom: 8px;
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; /* ← Щоб переходило на наступний ряд */
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 48px;
}

/*============= ПОРТФОЛІО СТИЛІ ============*/

.portfolio-list li {
  /* width: calc((100% - 48px) / 3); */
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 239, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative; /* Важливо! */
  overflow: hidden; /* Обрізає оверлей */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ============= ПОРТФОЛІО ОВЕРЛЕЙ ============ */
/* .portfolio-list li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item-first:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  text-align: left;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} */
.portfolio-overlay-text {
  display: none; /* Сховати оверлей за замовчуванням */
}

/*============= SECTION TITLE ============*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/*============= ФУТЕР ============*/

.page-footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-container {
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px; */
}

.footer-left {
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
}

/*============= ФУТЕР СОЦІАЛЬНІ МЕДІА ============*/
.footer-social {
  /* width: 208px; */
  margin: 72px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer-social__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social__list {
  display: flex;
  gap: 16px;
}

.footer-social__item {
  width: 40px;
  height: 40px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #31d0aa;
}

.footer-social__icon {
  fill: var(--cloud);
}

.modal-input {
  /* width: 264px;
  height: 40px; */

  width: 100%;
  max-width: 288;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  margin-bottom: 16px;
}

.modal-imput .form-input::placeholder {
  color: #fff;
}

.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  /* padding-top: 16px; */
  margin: 0 auto;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  fill: #fff;
}

.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}
/*============= МОДАЛЬНЕ ВІКНО ============*/
.form-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;

  font-size: 16px;
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input::placeholder {
  color: #fff;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.form-input:focus,
.form-input:active {
  border-color: #4d5ae5;
  outline: none;
}

input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form .input-wrapper:nth-child(4) {
  margin-bottom: 16px;
}

.input-wrapper-checkbox {
  position: relative;
  margin-bottom: 24px;
}
.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  fill: #4f4f4f;
}

.text-subscribe {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.div-subscribe {
  /* margin-left: auto; */
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.subscribe-form {
  /* display: flex;
  gap: 24px;
  align-items: center; */
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.textarea-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}
.textarea-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.custom-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox input:checked + .checkbox-icon {
  background-color: #404bbf;
  border-color: #4d5ae5;
  fill: #fff;
  border: none;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox-svg {
  transition: fill 0.3s ease;
}

/* 🎯 Коли input чекнутий — міняємо фон, бордер, іконку */
.visually-hidden:checked + .custom-checkbox .checkbox-icon {
  fill: var(--checkbox-icon-fill);
  background-color: var(--checkbox-bg-checked);
  border: none;
}

.form h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #2e2f42;
}
.privacy {
  color: #4d5ae5;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 20px;
  line-height: 1;
  color: #2e2f42;
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
  fill: #fff;
}

.send-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in-out;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  padding: 72px 16px 16px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*============ МЕНЮ БУРГЕР ============*/
.burger-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.burger-menu__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.burger-menu {
  padding: 72px 0 40px 16px;
}
.burger-items {
  margin-bottom: auto;
}

/* .burger-menu__item {
  margin-bottom: 40px;
} */

.burger-menu__item:not(:last-child) {
  margin-bottom: 40px;
}

.burger-adress {
  margin-bottom: 48px;
}

.burger-menu__address-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
}

.burger-menu__contact-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobil-social-media__list {
  display: flex;
  /* align-items: flex-start;
  justify-content: flex-start; */
  /* flex-direction: row; */
  gap: 40px;
  /* margin-bottom: 40px;
  margin-left: 16px; */
}

.mobile-socials-link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-burger {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: none;
}

.menu-toggle {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  /* top: 16px;
  right: 16px; */
}

.icon-burger {
  display: block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.burger-menu__link {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.burger-menu__contact-link-phone {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.burger-menu__link_studio {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.burger-menu.is-open {
  transform: translateX(0);
}

.mobile-socials-link:hover {
  background-color: #404bbf;
}
.burger-menu__link:hover,
.burger-menu__link:active {
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .menu-toggle,
  .burger-menu {
    display: none;
  }
}
