:root {
  --white: #fff;
  --slate: #434455;
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --checkbox-bg-checked: #404bbf;
  --checkbox-icon-fill: #f4f4fd;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Інтерактивні елементи */
.button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Типографія */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--navyblue);
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}

p {
  margin: 0;
}

/* Кнопки */
.button {
  background-color: var(--iris);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 0.04em;
  border: none;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
}

.hero-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  border: none;
  gap: 10px;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Перша  секція */
.hero-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.hero-title .line {
  display: block; /* кожен рядок окремо */
}

/* Логотип */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo:hover,
.logo:focus {
  color: #4d5ae5;
}

.logo-studio-header {
  color: #2e2f42;
  font-size: 18px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Хедер */
.page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Навігація */
.nav-link,
.nav-link-active {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px; /* ????? */
  letter-spacing: 0.02em;
  color: var(--navyblue);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link-active:hover,
.nav-link-active:focus {
  color: #404bbf;
}

/* головна навігація studio */
.nav-link-active {
  color: #404bbf;
  position: relative;
  padding: 24px 0; /* Таке ж значення, як у звичайних посилань */
}

.nav-link-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px; /* Підкреслення буде прямо під текстом */
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-bar {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Адреса */
.address {
  font-style: normal;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  gap: 40px;
}

.address-list {
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 40px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Контакти */
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Третя секція Команда */
.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

.team-card-first-card {
  width: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list li {
  /* width: calc((100% - 72px) / 4);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); */

  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.name-team {
  padding: 32px 0;
}
/* посилання на соц мережі*/
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .team-socials__item {
  width: 40px;
  height: 40px;
} */

.team-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials li {
  width: 40px;
  height: 40px;
  background-color: transparent;
  box-shadow: none;
}

.team-socials-icon {
  fill: var(--cloud);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

/* Картка команди */
.team-card {
  background-color: #fff;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

/* Сховати елемент з екрану */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Друга секція */
.features-list {
  display: flex;
  gap: 24px;
}

.features-section {
  padding: 120px 0;
}

.features-list li {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.features-title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.feature-title {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.feature-text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

/* svg іконки другої секції */
.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
}

.feature-svg-image {
  fill: #2e2f42;
}

/* Портфоліо */

.portfolio-section {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding-left: 15px;
  margin-bottom: 8px;
}

.portfolio-title-first {
  margin-bottom: 8px;
}

.portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap; /* ← Щоб переходило на наступний ряд */
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 48px;
}

/* Portfolio Section Styles */

.portfolio-list li {
  width: calc((100% - 48px) / 3);
  background-color: #fff;
  box-shadow: 0px 1px 6px rgba(46, 239, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative; /* Важливо! */
  overflow: hidden; /* Обрізає оверлей */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* оверлай */
.portfolio-list li:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-image-container:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-item-first:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  text-align: left;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section Title */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
/* футер */

.page-footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-studio {
  color: var(--cloud);
}

.footer-text {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/* Social Media Styles */
.footer-social {
  width: 208px;
}

.footer-social__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social__list {
  display: flex;
  gap: 16px;
}

.footer-social__item {
  width: 40px;
  height: 40px;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #31d0aa;
}

.footer-social__icon {
  fill: var(--cloud);
}

.modal-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
}
.modal-imput .form-input::placeholder {
  color: #fff;
}
.button-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* gap: 8px; */
  border-radius: 4px;
  min-width: 165px;
  /* width: 165px; */
  height: 40px;
  /* padding: 8px 24px; */
  /* height: 40px; */
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  cursor: pointer;
  padding: 0 24px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  /* background: #404bbf; */
  fill: #fff;
}
.subscribe-icon {
  fill: #fff;
  margin-left: 16px;
}

.form-wrapper {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;

  font-size: 16px;
}
.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.modal-input::placeholder {
  color: #fff;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  /* flex-direction: column; */
  margin-bottom: 4px;
}

.form-input:focus,
.form-input:active {
  border-color: #4d5ae5;
  outline: none;
}

input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
.input-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form .input-wrapper:nth-child(4) {
  margin-bottom: 16px;
}

.input-wrapper-checkbox {
  position: relative;
  margin-bottom: 24px;
}
.input-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  fill: #4f4f4f;
}

.text-subscribe {
  font-family: roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  /* padding-bottom: 16px; */
  margin-bottom: 16px;
}

.div-subscribe {
  /* display: flex;
  flex-direction: column; */
  margin-left: auto;
  /* margin-right: auto; */
}
.subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
}

.paragraf {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.textarea-input {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
}
.textarea-input:focus {
  border-color: #4d5ae5;
  outline: none;
}
.custom-checkbox {
  /* display: flex;
  align-items: center; */
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: #8e8f99;
  /* margin-top: 24px;
  user-select: none;
  gap: 12px; */
}
.custom-checkbox input:checked + .checkbox-icon {
  background-color: #404bbf;
  border-color: #4d5ae5;
  fill: #fff;
  border: none;
}

.checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.checkbox-svg {
  /* fill: transparent; */
  transition: fill 0.3s ease;
}

/* 🎯 Коли input чекнутий — міняємо фон, бордер, іконку */
.visually-hidden:checked + .custom-checkbox .checkbox-icon {
  fill: var(--checkbox-icon-fill);
  background-color: var(--checkbox-bg-checked);
  border: none;
}

.form h3 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 24px;
  color: #2e2f42;
}
.privacy {
  color: #4d5ae5;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;

  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 20px;
  line-height: 1;
  color: #2e2f42;
}
.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: none;
}

.close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close:hover,
.close:focus {
  fill: #fff;
}
.send-button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(46, 47, 66, 0.08);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button:hover,
.send-button:focus {
  background-color: #404bbf;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 250ms ease-in-out;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);
  background: #fcfcfc;

  padding: 72px 24px 24px 24px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
